{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'bigfivetest/styles/form-pages.css' %}"
    />
    <title>Conscienciosidade</title>
  </head>
  <body>
    <header class="header">
      <div class="header-container">
        <div class="header-logo-container">
          <a href="../"
            ><img
              class="header-logo"
              src="{% static 'bigfivetest/images/logo-1.png' %}"
              alt="logo"
          /></a>
        </div>
        <div class="header-title-container">
          <h1 class="header-title">Big Five Test</h1>
        </div>
      </div>
    </header>
    <main class="app-form-main-container">
      <form class="app-form" action="/conscienciosidade/" method="post">
        {% csrf_token %} {{ conscientiousness_form }}
        <input class="app-form-button" type="submit" value="Avançar" />
      </form>
    </main>
  </body>
</html>
