{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Teste De Personalidade com Inteligência artificial - O que é o Modelo Big
      Five?
    </title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'bigfivetest/styles/what-is-big-five.css' %}"
    />
  </head>
  <body>
    <header class="header">
      <div class="header-container">
        <div class="header-logo-container">
          <a href="../">
            <img
              class="header-logo"
              src="{% static 'bigfivetest/images/logo.png' %}"
              alt="logo"
          /></a>
        </div>
        <div class="header-title-container">
          <h1 class="header-title">Big Five Test</h1>
          <a href="/o-que-e-big-five"
            ><h3 class="header-what-is-big-five">
              O que é o Modelo Big Five?
            </h3></a
          >
        </div>
      </div>
    </header>
    <main class="what-is-big-five-container">
      <div class="what-is-big-five-inner-container">
        <h1 class="what-is-big-five-title">O que é o Modelo Big Five?</h1>
        <p class="what-is-big-five-text">
          O Modelo dos Cinco Grandes, também conhecido como Big Five, é uma das
          teorias mais amplamente aceitas e estudadas na psicologia da
          personalidade. Ele descreve a personalidade humana em termos de cinco
          traços principais que representam dimensões fundamentais da variação
          individual. Esses cinco traços são:
        </p>
        <p class="what-is-big-five-text">
          Extroversão (Extroversion): Refere-se à tendência de uma pessoa em ser
          sociável, extrovertida, assertiva e energética. Indivíduos
          extrovertidos geralmente gostam de interações sociais, são
          comunicativos e buscam situações sociais.
        </p>
        <p class="what-is-big-five-text">
          Neuroticismo (Neuroticism): Este traço está relacionado à estabilidade
          emocional. Pessoas com alto neuroticismo tendem a ser emocionalmente
          instáveis, ansiosas e propensas a experienciar emoções negativas, como
          preocupação e tristeza. Pessoas com baixo neuroticismo são
          emocionalmente mais estáveis e resilientes.
        </p>
        <p class="what-is-big-five-text">
          Amabilidade (Agreeableness): A amabilidade refere-se à disposição de
          uma pessoa para cooperar, ser compassiva e agradável. Indivíduos altos
          em amabilidade tendem a ser empáticos, altruístas e tolerantes,
          enquanto aqueles com baixa amabilidade podem ser mais críticos e
          competitivos.
        </p>
        <p class="what-is-big-five-text">
          Conscienciosidade (Conscientiousness): Esse traço envolve a
          organização, a autodisciplina e a responsabilidade. Pessoas
          conscientes são geralmente confiáveis, metódicas e orientadas para
          metas. Elas tendem a planejar e trabalhar de forma consistente para
          atingir seus objetivos.
        </p>
        <p class="what-is-big-five-text">
          Abertura à Experiência (Openness to Experience): Esse traço descreve o
          grau de curiosidade, criatividade e apreciação pela arte e novas
          experiências. Indivíduos com alta abertura à experiência são muitas
          vezes mais imaginativos, abertos a ideias não convencionais e
          interessados em explorar novos horizontes intelectuais e culturais.
        </p>
        <p class="what-is-big-five-text">
          O Modelo dos Cinco Grandes é útil para descrever a personalidade de
          uma pessoa em termos de como ela se encaixa nessas cinco dimensões.
          Cada traço representa um espectro, de modo que as pessoas podem variar
          de alto a baixo em cada uma dessas dimensões. A combinação desses
          traços cria um perfil de personalidade único para cada indivíduo. Essa
          teoria é amplamente utilizada em psicologia, recrutamento,
          aconselhamento, e muitas outras áreas para ajudar a entender e prever
          o comportamento das pessoas. No entanto, é importante notar que a
          personalidade é uma característica complexa e multidimensional, e o
          Modelo dos Cinco Grandes oferece uma visão simplificada que não
          captura todos os aspectos da personalidade de alguém. Além disso, a
          personalidade pode evoluir ao longo da vida, e as situações também
          podem influenciar o comportamento das pessoas, tornando a análise da
          personalidade um campo em constante evolução na psicologia.
        </p>
      </div>
    </main>
  </body>
</html>
