@import url("common.css");
.results-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 50px 0 50px 0;
}
.results-title {
  text-align: center;
  font-size: 1.5rem;
}
.results-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.2rem;
}
.percentiles {
  position: relative;
  background-color: #e2e1ff;
  padding: 10px 20px;
  width: 65%;
  color: #000000;
}
.personality-factor-message {
  background-color: #e2e1ff;
  padding: 20px 40px;
  width: 65%;
}
.results-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  width: 40%;
}
@media screen and (max-width: 768px) {
  .results-image-container {
    width: 100%;
  }
  .results-title {
    font-size: 1.15rem;
    padding: 0 25px;
  }
  .results-text {
    padding: 25px;
    font-size: 1rem;
  }
  .percentiles {
    width: 80%;
  }

  .personality-factor-message {
    width: 80%;
  }
}
